<h1><%= card.fullName %></h1>
<ul>
    <li>Brand: <%= card.brand %></li>
    <li>Card Number: <%= card.number %></li>
    <li>Valid From: <%= card.validFrom %></li>
    <li>End: <%= card.untilEnd %></li>
    <li>CCV: <%= card.ccv %></li>
</ul> 